@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body {
    background-color: #f5f5f5;
    color: #000000;
}

.nav {
    display: flex;
    list-style-type: none;
    color: whitesmoke;
    float: right;
    background-color: #B53838;
    width: 700px;
    margin: 0 0;
    margin-top: -35px;
    margin-right: -10px;
    border-radius: 0 0 0 40px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer;  
}

li {
    width: 100%;
    margin: 25px;
    font-weight: 400;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}

.info {
    margin-left: 40px;
    margin-bottom: 5x;
}

h1 {
    font-size: 50px;
    font-family: 'Lobster', cursive;
    /* color: whitesmoke; */
}

h2 {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}

h3 {
    font-size: xx-large;
    font-family: 'Poppins', sans-serif;
}

#photo {
    height: 350px;
    width: 300px;
    border: 5px solid #B53838;
    border-radius: 15px;
}

.home {
    position: absolute;
    margin-left: 30%;
    margin-top: -300px;
    /* margin-bottom: 650px; */
}

p {
    color: gray;
    font-size: 24px;
    font-family: 'Work Sans', sans-serif;
    margin-right: 15px;
}

.bio {
    position: absolute;
    margin-left: 30%;
    margin-top: -830px;
}

#bio {
    margin-left: -20px;
}

.resume {
    position: absolute;
    margin-left: 50%;
    margin-top: -850px;
    margin-bottom: 200px;
    padding-bottom: 200px;
}

.resume-img {
    height: 400px;
    width: 350px;
    border: 2px solid #B53838;
}

#resume-h2 {
    text-align: center;
    font-size: 40px;
}

.projects {
    position: absolute;
    margin-left: 30%;
    margin-top: -700px;
}

li {
    list-style-type: none;
    left: -20px;
}


#modal {
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	display: none;
}

#modal-textbox {
	background-color: white;
	height: 350px;
	width: 550px;
    border: 2px solid #B53838;
	border-radius: 5px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	padding: 2%;
	line-height: 120%;
    color: black;
}

#modal-footer {
	text-align: right;
}

#surprise-text {
    color: black;
    margin: 20px 20px;
    padding: 20px 20px;
}

#close {
    background-color: #B53838;
    text-align: right;
    font-size: x-large;
    color: whitesmoke;
    margin-top: 170px;
    float: left;
    width: fit-content;
    border-radius: 15px;
}

.button {
    display: flex;
    width: 200px;
    float: left;
    margin-top: 60px;
    margin-left: 40px;
    cursor: pointer;
}

#open {
    display: flex;
    width: 200px;
    padding: 10px;
    font-size: large;
    background-color: #B53838;
    color: whitesmoke;
    cursor: pointer;
    border-radius: 15px;
}

footer {
    height: fit-content;
    width: 100%;
    /* margin-left: 40%; */
    margin-bottom: 0;
    margin-top: 400px;
}

.social {
    display: flex;
    margin-top: 150px;
}

.dark-mode {
    background-color: inherit;
    color: #00A0C6;
    border-radius: 0 60px 60px 0;
    margin-left: 50px;
    margin-right: 100px;
    cursor: pointer;
}


ion-icon {
    font-size: 128px;
    --ionicon-stroke-width: 128px;
    color: rgb(49, 135, 163);
    margin-left: 200px;
    margin-right: 0px;
    margin-bottom: 0;
}

@media only screen and (max-width: 410px) {

    .nav {
        display: flex;
        list-style-type: none;
        color: whitesmoke;
        background-color: #B53838;
        background-size: cover;
        width: 160%;
        /* margin: 0 0; */
        margin-top: -10px;
        margin-left: 500px;
        margin-right: -230px;
        border-radius: 0 0 0 40px;
    }

    li {
        width: fit-content;
        margin: 30px;
        font-weight: 400;
        font-size: 24px;
    }

    .info {
        display: inline-flex;
        flex-direction: row-reverse;
        margin-left: 40px;
        margin-bottom: 5x;
    }

    h1 {
        font-size: 50px;
        margin-left: 20px;
        margin-top: 80px;
    }

    #photo {
        height: 250px;
        width: 200px;
        border: 5px solid #B53838;
        border-radius: 200px;
        margin-top: 20px;
    }

    .home {
        position: absolute;
        width: 130%;
        margin-left: 20%;
        margin-top: 30px;
        /* margin-bottom: 650px; */
    }

    .bio {
        position: absolute;
        width: 130%;
        margin-left: 20%;
        margin-top: -900px;
    }

    .resume {
        position: absolute;
        margin-left: 18%;
        margin-top: -900px;
        /* margin-bottom: 200px; */
        /* padding-bottom: 200px; */
    }
    
    .resume-img {
        height: 500px;
        width: 450px;
        border: 2px solid #B53838;
    }
    
    #resume-h2 {
        text-align: center;
        font-size: 50px;
    }

    p {
        color: gray;
        font-size: 23px;
        margin-right: 10px;
    }

    .button {
        display: flex;
        width: 200px;
        float: left;
        margin-top: 900px;
        margin-left: 40px;
        cursor: pointer;
    }

    #modal {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        overflow: auto;
        display: none;
    }
    
    #modal-textbox {
        background-color: white;
        height: 350px;
        width: 550px;
        border: 2px solid #B53838;
        border-radius: 5px;
        margin: 150px auto;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        padding: 2%;
        line-height: 120%;
        color: black;
    }
    
    #modal-footer {
        text-align: right;
    }
    
    #surprise-text {
        color: black;
        margin: 20px 20px;
        padding: 20px 20px;
    }

    #open {
        display: flex;
        width: 200px;
        padding: 10px;
        font-size: large;
        background-color: #B53838;
        color: whitesmoke;
        cursor: pointer;
        border-radius: 15px;
        margin-top: 20px;
    }
    
    #close {
        background-color: #B53838;
        text-align: right;
        font-size: x-large;
        color: whitesmoke;
        margin-top: 150px;
        float: left;
        width: fit-content;
        border-radius: 15px;
    }

    footer {
        height: fit-content;
        width: 100%;
        /* margin-left: 40%; */
        margin-bottom: -200px;
        margin-top: 1000px;
    }

    .dark-mode {
        background-color: inherit;
        color: #00A0C6;
        border-radius: 0 60px 60px 0;
        margin-left: 50px;
        margin-right: 100px;
        cursor: pointer;
    }

    ion-icon {
        font-size: 128px;
        --ionicon-stroke-width: 128px;
        color: rgb(49, 135, 163);
        margin-left: 30px;
        margin-right: 20px;
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 411px) and (max-width: 500px) {
   
    .nav {
        display: flex;
        list-style-type: none;
        color: whitesmoke;
        background-color: #B53838;
        background-size: cover;
        width: 180%;
        /* margin: 0 0; */
        margin-top: -10px;
        margin-left: 50px;
        margin-right: -350px;
        }

    li {
        width: fit-content;
        margin: 30px;
        font-weight: 400;
        font-size: 24px;
        padding: 5px;
    }

    .info {
        display: inline-flex;
        flex-direction: row-reverse;
        margin-left: 40px;
        margin-bottom: 5x;
    }

    h1 {
        font-size: 50px;
        margin-left: 20px;
        margin-top: 80px;
    }

    #photo {
        height: 250px;
        width: 200px;
        border: 5px solid #B53838;
        border-radius: 200px;
        margin-top: 20px;
    }

    .home {
        position: absolute;
        width: 130%;
        margin-left: 20%;
        margin-top: 30px;
        /* margin-bottom: 650px; */
    }

    .bio {
        position: absolute;
        width: 130%;
        margin-left: 20%;
        margin-top: -700px;
    }

    .resume {
        position: absolute;
        margin-left: 18%;
        margin-top: -720px;
        /* margin-bottom: 200px; */
        /* padding-bottom: 200px; */
    }
    
    .resume-img {
        height: 500px;
        width: 450px;
        border: 2px solid #B53838;
    }
    
    #resume-h2 {
        text-align: center;
        font-size: 50px;
    }

    p {
        color: gray;
        font-size: 23px;
        margin-right: 10px;
    }

    .button {
        display: flex;
        width: 200px;
        float: left;
        margin-top: 700px;
        margin-left: 40px;
        cursor: pointer;
    }

    #modal {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        overflow: auto;
        display: none;
    }
    
    #modal-textbox {
        background-color: white;
        height: 350px;
        width: 550px;
        border: 2px solid #B53838;
        border-radius: 5px;
        margin: 150px auto;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        padding: 2%;
        line-height: 120%;
        color: black;
    }
    
    #modal-footer {
        text-align: right;
    }
    
    #surprise-text {
        color: black;
        margin: 20px 20px;
        padding: 20px 20px;
    }

    #open {
        display: flex;
        width: 200px;
        padding: 10px;
        font-size: large;
        background-color: #B53838;
        color: whitesmoke;
        cursor: pointer;
        border-radius: 15px;
        margin-top: 20px;
    }
    
    #close {
        background-color: #B53838;
        text-align: right;
        font-size: x-large;
        color: whitesmoke;
        margin-top: 150px;
        float: left;
        width: fit-content;
        border-radius: 15px;
    }

    footer {
        height: fit-content;
        width: 100%;
        /* margin-left: 40%; */
        margin-bottom: -200px;
        margin-top: 800px;
    }

    .dark-mode {
        background-color: inherit;
        color: #00A0C6;
        border-radius: 0 60px 60px 0;
        margin-left: 50px;
        margin-right: 100px;
        cursor: pointer;
    }

    ion-icon {
        font-size: 128px;
        --ionicon-stroke-width: 128px;
        color: rgb(49, 135, 163);
        margin-left: 30px;
        margin-right: 20px;
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 501px) and (max-width: 900px) {
   
    .nav {
        display: flex;
        list-style-type: none;
        color: whitesmoke;
        background-color: #B53838;
        background-size: cover;
        width: 200%;
        /* margin: 0 0; */
        margin-top: -10px;
        margin-left: 50px;
        margin-right: -900px;
        }

    li {
        width: fit-content;
        margin: 30px;
        font-weight: 400;
        font-size: 24px;
        padding: 5px;
    }

    .info {
        display: inline-flex;
        flex-direction: row-reverse;
        margin-left: 40px;
        margin-bottom: 5x;
    }

    h1 {
        font-size: 50px;
        margin-left: 20px;
        margin-top: 80px;
    }

    #photo {
        height: 250px;
        width: 200px;
        border: 5px solid #B53838;
        border-radius: 200px;
        margin-top: 20px;
    }

    .home {
        position: absolute;
        width: 130%;
        margin-left: 20%;
        margin-top: 30px;
        /* margin-bottom: 650px; */
    }

    .bio {
        position: absolute;
        width: 130%;
        margin-left: 20%;
        margin-top: -700px;
    }

    .resume {
        position: absolute;
        margin-left: 18%;
        margin-top: -720px;
        /* margin-bottom: 200px; */
        /* padding-bottom: 200px; */
    }
    
    .resume-img {
        height: 500px;
        width: 450px;
        border: 2px solid #B53838;
    }
    
    #resume-h2 {
        text-align: center;
        font-size: 50px;
    }

    p {
        color: gray;
        font-size: 23px;
        margin-right: 10px;
    }

    .button {
        display: flex;
        width: 200px;
        float: left;
        margin-top: 700px;
        margin-left: 40px;
        cursor: pointer;
    }

    #modal {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        overflow: auto;
        display: none;
    }
    
    #modal-textbox {
        background-color: white;
        height: 350px;
        width: 550px;
        border: 2px solid #B53838;
        border-radius: 5px;
        margin: 150px auto;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        padding: 2%;
        line-height: 120%;
        color: black;
    }
    
    #modal-footer {
        text-align: right;
    }
    
    #surprise-text {
        color: black;
        margin: 20px 20px;
        padding: 20px 20px;
    }

    #open {
        display: flex;
        width: 200px;
        padding: 10px;
        font-size: large;
        background-color: #B53838;
        color: whitesmoke;
        cursor: pointer;
        border-radius: 15px;
        margin-top: 20px;
    }
    
    #close {
        background-color: #B53838;
        text-align: right;
        font-size: x-large;
        color: whitesmoke;
        margin-top: 150px;
        float: left;
        width: fit-content;
        border-radius: 15px;
    }

    footer {
        height: fit-content;
        width: 100%;
        /* margin-left: 40%; */
        margin-bottom: -200px;
        margin-top: 800px;
    }

    .dark-mode {
        background-color: inherit;
        color: #00A0C6;
        border-radius: 0 60px 60px 0;
        margin-left: 50px;
        margin-right: 100px;
        cursor: pointer;
    }

    ion-icon {
        font-size: 128px;
        --ionicon-stroke-width: 128px;
        color: rgb(49, 135, 163);
        margin-left: 30px;
        margin-right: 20px;
        margin-bottom: 0;
    }
}